html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  overflow-wrap: break-word;
  color: rgb(51, 51, 51);
  text-rendering: optimizeSpeed;
  background-color: white;
}

@media (min-width: 120em) {
  body {
    font-size: 1.2em;
    line-height: 1.8;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

.container {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 64em) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 120em) {
  .container {
    max-width: 1320px;
  }
}

.introduction {
  flex-grow: 1;
  padding-top: calc(128px + 16px + 16px + 8px);
  padding-bottom: 32px;
  background-image: url('./assets/dinosaur.png');
  background-repeat: no-repeat;
  background-position: 50% 16px;
}

.introduction__title {
  margin: 0;
  margin-bottom: 32px;
}

.introduction__text {
  margin: 0;
  margin-bottom: 16px;
}

.introduction__text:last-of-type {
  margin-bottom: 32px;
}

.introduction__btn {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 16px 48px;
  text-align: center;
  color: inherit;
  font-weight: 500;
  background-color: #b7ca33;
  border-radius: 4px;
  margin-bottom: 16px;
}

.introduction__btn:hover {
  background-color: #c7d65c;
}

.introduction__btn:focus {
  background-color: #6f7a1f;
}

.introduction__support {
  margin: 0;
  font-size: 0.9em;
}

.introduction__support-mail {
  color: inherit;
  text-decoration: underline;
}

.introduction__support-mail:hover,
.introduction__support-mail:focus {
  text-decoration: none;
}

@media (min-width: 64em) {
  .introduction__btn {
    width: auto;
  }
}
